body{
  font-family: 40px;
  background-color: yellowgreen;
  border:solid;
}


.audio-player {
  width: 700px;
  padding: 70px;
  border-radius: 30px;
  box-shadow: 45 30px 50px rgba(158, 86, 86, 0.1);
}

.addplaylist:hover{
  font-size: 12px;
  background-color: blue;
}
.controls {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px 0;
}

.progress-container {
  margin-top: 40px;
}

input[type="range"] {
  width: 100%;
}